@charset "UTF-8";


body {
	margin: 0;
}
.main { 
   	background-image: url("../resources/background.jpg");
   	background-size:cover;
   	background-repeat:no-repeat;
   	height: calc(100vh - 80px);
}
.introduce {
	width: 750px;
	margin: 0 auto;
	/* padding-top:10%; */
	padding-top:50px;
}

h2,h4 {
	text-align : center;
}
